venv/
build/
__pycache__/
logs/
logs.zip
dist/
debug.log
test.json
html/
*.html
EAX-500.spec
eax500.spec
index.rst
_build/doctrees/environment.pickle
_build/doctrees/index.doctree
_build/doctrees/docs/source/applogger.doctree
_build/doctrees/docs/source/conf.doctree
_build/doctrees/docs/source/eax500.doctree
_build/doctrees/docs/source/fontchooser.doctree
_build/doctrees/docs/source/login.doctree
_build/doctrees/docs/source/modules.doctree
_build/doctrees/docs/source/settings.doctree
_build/doctrees/docs/source/usbhandler.doctree
_build/doctrees/docs/source/user.doctree
docs/source/applogger.rst
docs/source/conf.rst
docs/source/eax500.rst
docs/source/fontchooser.rst
docs/source/login.rst
docs/source/modules.rst
docs/source/settings.rst
docs/source/usbhandler.rst
docs/source/user.rst
eax500.spec
